*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
}

header{
    background: #1F2937;
    display: flex;
    align-items: center;

    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #1F2937;
}

.main .left,
.main .right{
    flex: 1;
}

.main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.main .left p{
    color: #F9FAF8;
    margin: 10px 0 20px 0;
}

.main .left button{
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    border-width: 0;
    padding: 8px 30px 8px 30px;
    font-weight: bold;
}

.main .right{
    background: gray;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    margin: 50px;
    gap: 40px;
}

.card .shape{
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.content{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card p{
    margin-top: 5px;
}

.quote{
    background: #E5E7EB;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote .text{
    font-size: 36px;
    font-weight: 100;
    font-style: light italic;
}

.name{
    font-weight: bold;
    text-align: end;
}

.action{
    background: #3882F6;
    margin: 100px 200px 100px 200px;
    border-radius: 5px;
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.action .button button{
    background: #3882F6;
    color: white;
    color: #F9FAF8;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    padding: 8px 30px 8px 30px;
    font-weight: bold;
}

.action .text .bold{
    color: #F9FAF8;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

.action .text p{
    margin: 0;
    color: #F9FAF8;
}

h2{
    margin: 0;
}

.footer{
    background: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}

